/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Typography
:: Blocks
:: Search
:: Top Bar
:: Slider
:: Google Map
:: Contact Form
*/

/* --------------------------------------------------
   Typography
-------------------------------------------------- */
body {
	font-family : "Open Sans", Georgia;
	color: #555;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
	margin-top: 0;
}

hgroup h1, .hero-unit h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 46px;
  line-height: 1.25;
  letter-spacing: -1px;
}
hgroup h2, .hero-unit h2 {
  font-size: 21px;
  font-weight: 200;
  line-height: 27px;
  color: #888;
}
aside h1,
aside h2,
aside h3,
aside h4,
aside h5,
aside h6 {
  color: #888;
}
footer, .meta {
  color: #999;
  font-size: 13px;
}
a.brand {
  color: #DD4B39;
}

/* --------------------------------------------------
   Blocks:
   Borders, margins, paddings for block elements
-------------------------------------------------- */
article, section.row, footer.row, .pagination {
  border-top: solid 1px #ddd;
}
article, section.row {
  margin-top: 20px;
  padding-top: 30px;
}
article:first-child, section.row:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
article img {
	margin-bottom: 8px;
}
footer.row {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.pagination {
  margin-top: 30px;
  padding-top: 10px;
}
hgroup {
  border-bottom: solid 1px #ccc;
  margin-bottom: 0.75em;
  padding-bottom: 9px;
}
.hero-unit hgroup {
  border-bottom: none;
}
aside {
  border: 1px solid #eee;
  padding: 20px 20px 10px 20px;
  margin-bottom: 18px;
}
aside ul {
  margin-bottom: 0;
}
aside li {
  margin-bottom: 9px;
}
blockquote {
	border-width: 4px;
  line-height: inherit;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
blockquote small {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
.large-block-grid-4 {
  margin-top: 30px;
}
.large-block-grid-4 li {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
}
.media img {
  width: auto;
  display: block;
  margin-bottom: 16px;
}

/* --------------------------------------------------
   Search
-------------------------------------------------- */
.nice input[type=search],
.nice .input-search {
  background-image: url("./img/search.png");
  background-repeat: no-repeat;
  background-position: 3px center;
  height: 21px;
  padding: 3px 0 2px 20px;
  border: solid 1px #BCBBBB;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/* Elastic effect */
.elastic input {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 100px;
}
.elastic2 input {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 100px;
}
.elastic input:focus {
  width: 150px;
}
.elastic2 input:focus {
  width: 100%;
}

/* Large search */
.large.search input {
  font-size: 16px;
  height: 32px;
  position: relative;
  border-radius: 0;
  background-image: none;
  padding-left: 8px;
  margin-bottom: 0;
}
.search.large button {
	border: none;
  margin-bottom: 0;
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  .nice.large.search .button {
    display: inline;
    padding-left: 9px;
    padding-right: 9px;
  }
}

/* Search results */
.search-results {
  list-style: none;
  margin: 0;
}
.search-results li {
  border-top: 1px solid #eee;
  padding-top: 9px;
}
.search-results li:first-child {
  border-top: none;
  padding-top: 0;
}
.search-results p {
  margin-top: -9px;
}

/* --------------------------------------------------
   Top Bar
-------------------------------------------------- */
.contain-to-grid .top-bar {
	margin-bottom: 30px;
}
.top-bar .search {
	height: 45px;
  line-height: 45px;
  margin: 0 15px;
}
.top-bar .search label, .top-bar .search button {
  display: none;
}
.top-bar .search input {
  display: inline-block;
	vertical-align: middle;
  line-height: 1;
  top: 0;
}

/* Mobile */
@media handheld, only screen and (max-width: 767px) {
   .tabs dd {
      margin-left: 0;
   }
}

/* --------------------------------------------------
   Slider
-------------------------------------------------- */
.orbit-container {
	background: none;
}

/* --------------------------------------------------
   Google Map
-------------------------------------------------- */
.map img {
  width: 100%;
}

/* --------------------------------------------------
   Button styles
-------------------------------------------------- */

.button {
  box-shadow: none;
  border: none;
}

/* --------------------------------------------------
   Contact Form
-------------------------------------------------- */
.contact-form {
  margin-top: 18px;
}
.contact-form input, .contact-form textarea {
  width: 99%;
}
.contact-form textarea {
  height: 130px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
   .contact-form .button {
      width: 100%;
   }
}
.h30{ height:30px; }
.bg36{ background-color:#333333; }
.fgf6{ color:#FFFFFF; }
.fg06{ color:#000000; }
.link_over{
	color:#FFFFFF;
}
.link_over:hover{
	color:#FFFFFF;
}
.link_over:visited{
	color:#FFFFFF;
}
.lang_link{
	vertical-align:middle;
}
.mid_pos{
	margin-top:5px;
	vertical-align:middle;
}
.h100{
	height:65px;
}
.h32{
	height:39px;
}
.bg683{
	background-color:#686868;
}
#ultop a{
	background-color:#686868;
}
#ultop1 li.active{
	padding: 0 15px;
	line-height: 45px;
	color: white;
	background: #008cba;
}
#ultop1 li.active a{
	padding: 0 15px;
	line-height: 45px;
	color: white;
	background: #008cba;
}
.fxhover:hover{
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.44);
	//border:1px solid #000000;
}
.fullh{
	height:80vh;
}
.fullw{
	width:80vh;
}
.bgcyan{
	background-color:#1FAEFF;
}
.bghijau{
	background-color:#004A00;
}
.bgred{
	background-color:#AE0000;
}
.fgwhite{
	color:#FFFFFF;
}
.howto .content {
  display: table-cell;
  vertical-align: middle;
  float: none !important;
}
/* Text color */
.light-text,
.light-text .headline,
.light-text .subheader {
  color: white;
}

.dark-text,
.dark-text .headline,
.dark-text .subheader {
  color: #222;
}
.hidden{
  display:none;
}
.bgkuning{
	background-color:#E1B700;
}
.bgungu{
	background-color:#AA40FF;
}
.bgcyantua{
	background-color:#00AAAA;
}
.bgcokelat{
	background-color:#696969;
}
.bgpink{
	background-color:#E064B7;
}
.bgbirulangit{
	background-color:#1B58B8;
}
.bgbirutua{
	background-color:#001E4E;
}
.bgbiru{
	background-color:#5176dd;
}
.bgorange{
	background-color:#E56C19;
}
.bgunguterang{
	background-color:#a276b8;
}
.bgabu {
	background-color:#8f8e8d;
}
.bghijautua {
	background-color:#235622;
}
.bghijaumuda {
	background-color:#00C13F;
}
.readabletext {
	font-size:18px;
}
.h1titletopbar {
	font-family: "Open Sans";
	font-weight : bolder;
	color: #fff;
}
.ttfos, .pricing-table .title, .pricing-table .description, .top-bar-section ul li > a {
	font-family: "Open Sans";
}

/*Yuki*/
.utama {
  margin: 0;
  padding: 0;
  background: #e6e8eb;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-product-hover-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.card-product-hover {
  position: relative;
  line-height: 1.2rem;
  transition: all 0.35s ease;
}

.card-product-hover-details {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 1rem;
}

.card-product-hover-details > :last-child {
  margin-bottom: 0;
}

.card-product-hover-price {
  margin: 0.5rem 0;
  font-weight: 700;
  color: #1779ba;
  font-size: #1779ba;
}

.card-product-hover-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-product-hover-icons a i {
  display: block;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
  background-color: #fefefe;
  text-align: center;
  color: #0a0a0a;
}

.card-product-hover-icons a i:hover {
  background-color: #8a8a8a;
  color: #fefefe;
  cursor: pointer;
}

.card-product-hover-icons a {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  transition: all 0.35s ease;
}

.card-product-hover:hover a,
.card-product-hover.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.card-product-hover:hover a:nth-child(2),
.card-product-hover.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.card-product-hover:hover a:nth-child(3),
.card-product-hover.hover a:nth-child(3) {
  transition-delay: 0.2s;
}

/**/

.card-user-profile {
  position: relative;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.card-user-profile > :last-child {
  margin-bottom: 0;
}

.card-user-profile:hover .card-user-profile-img {
  opacity: 1;
}

.card-user-profile-content {
  position: relative;
}

.card-user-profile-content::before {
  position: absolute;
  content: '';
  top: -3.4375rem;
  left: -1.875rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.4375rem 0 0 31.25rem;
  z-index: 0;
  border-color: transparent transparent transparent #fefefe;
}

.card-user-profile-actions {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 1rem;
  background: #e6e6e6;
  background: #fefefe;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card-user-profile-actions > :last-child {
  margin-bottom: 0;
}

.card-user-profile-img {
  max-width: 100%;
  opacity: 0.85;
  transition: all 0.25s ease;
}

.card-user-profile-avatar {
  position: absolute;
  bottom: 100%;
  left: 1rem;
  z-index: 2;
  max-width: 5.625rem;
}

.card-user-profile-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-user-profile-name {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-user-profile-button {
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.card-user-profile-button + .card-user-profile-button {
  margin-left: 1rem;
}

.card-user-profile-info {
  font-size: 0.875rem;
  letter-spacing: 1px;
  opacity: 0.8;
}

/*yuki 2*/

.product-card {
  background-color: #fefefe;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: #8a8a8a;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;
}

.product-card-price {
  color: #3e3e3e;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.product-card-sale {
  color: #cacaca;
  display: inline-block;
  font-size: 0.85rem;
  margin-left: 0.3rem;
  text-decoration: line-through;
}

.product-card-colors {
  display: block;
  margin-top: 0.8rem;
}

.product-card-color-option {
  display: inline-block;
  height: 25px;
  width: 25px;
}
